*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Open-Sans, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
}

h1, h2{
    font-size: 80px;
}
h3{
    font-size: 24px;
}
.container{
    width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    border: 1px solid red;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}

p{
    margin: 20px 0px;
}



/*************HEADER**************/

header{
    width: 100%;
    height: 100vh;
    background-image: url('img/bg_image1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.head{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head__head{
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}

.head__logo{
    margin-right: 146px;
    width: 55px;
    height: 55px;
}

.head__logo--img{
    width: 100%;
}

.head__navigation{
    flex: 1;
}
.head__navigation ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head__navigation ul li a {
   text-transform: uppercase;
}

.head__right{
    margin-left: 178px;
    display: flex;
    align-items: center;
    position: relative;
}

.head__right--drop{
    position: relative;
    margin-right: 7px;
}

.head__right--drop::after {
    content: '';
    display: block;
    background: #fff;
    width: 1px;
    height: 200%;
    position: absolute;
    top: -10px;
    right: -37px;
}

.head__right__menu{
    background: #000;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 5px 25px 5px 5px;
    border-radius: 5px;
    display: none;
}
.head__right__menu ul li a{
    display: block;
    margin-bottom: 5px;
}

.head__right__menu ul li a:hover{
    color: #FFB548;
}

.menuShow{
    display: block;
}

.head__right--img{
    cursor: pointer;
}

.head__right--icons{
    margin-left: 24px;
}

.head__right--icons img {
    margin-left: 17px;
}

.head__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head__content--btn{
    padding: 20px;
    background: #FFB548;
    color: #1A1917;
    margin-top: 28px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
}

.head__content--buy{
    margin-right: 14px;
    border-right: 1px solid #000;
    padding-right: 11px;
}


.head__foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head__foot img {
    margin-top: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}


/************END_HEADER**********/
/************GALLARY************/


.second{
    background-image: url('img/bg_image2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    color: #fff;
}

.gallary{
    display: flex;
}

.gallary__about, .gallary__pics{
    width: 50%;
    border: 1px solid red;
    height: 100vh;
}

.gallary__about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallary__about h2{
    padding-bottom: 10px; 
}

.gallary__about h2::after{
    content: '';
    display: block;
    width: 130%;
    height: 1px;
    background: #fff;
    position: relative;
    z-index: 10;
}

.gallary__about__text{
    width: 365px;
    margin-top: 110px;
    border: 1px solid red;
    margin-left: auto;
}
.gallary__pics{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gallary__pics__box{
    max-width: 500px;
    max-height: 610px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.gallary__pics__box img{
    width: 500px;
    height: 610px;
}

/************END_GALLARY********/
.three{
    background-image: url('img/bg_image3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.features h3, .features h2 {
    color: #fff;
}
.features{
    border: 1px solid red;
    margin-left: 50%;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature__bold {
    font-size: 36px;
    color: #FFB548;
    text-transform: uppercase;
    display: block;
}
.feature__bold::before,
.feature__bold:first-child::before{
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin: 5px 18px 5px 0px; 
}
.feature__bold::before{
    border: 1px solid #fff;
}

.feature__bold:first-child::before{
    background: #fff;
}

.feature__sub{
    display: block;
    color: #fff;
    font-size: 18px;
    width: 362px;
    padding-left: 36px;
}
